<head th:fragment="cabecera">
	<meta charset="UTF-8">
	<title>AulaX</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/font-awesome/css/all.css}">
	<link rel="stylesheet" th:href="@{/assets/css/sweetalert2.css}">
	<link rel="stylesheet" th:href="@{/assets/css/sweetalert2.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/styles.css}">

	<script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/assets/js/sweetalert2.all.js}"></script>
	<script th:src="@{/assets/js/sweetalert2.all.min.js}"></script>



</head>