<header class="nav-pill" th:fragment="navbar">
	<div class="brand">
		<a th:href="@{/}" style="text-decoration:none; color:inherit;">AulaX</a>
	</div>

	<span sec:authorize="isAuthenticated()" style="margin-right: 1rem; font-weight: 600;">
		¡Hola, <span th:text="${session.usuario.nombre}">Usuario</span>!
	</span>

	<nav class="nav-links">
		<a sec:authorize="hasAnyAuthority('Administrador', 'Tutor', 'Alumno')" th:href="@{/tutorias/}">Tutorías</a>
		<!-- a sec:authorize="hasAnyAuthority('Administrador', 'Tutor')" th:href="@{/tutorias/alumnos}">Alumnos</a-->
		<!-- a sec:authorize="hasAnyAuthority('Administrador','Alumno')" th:href="@{/tutorias/tutores}">Tutores</a-->
		<a sec:authorize="hasAnyAuthority('Administrador','Alumno')" th:href="@{/tutorias/misclases}">Mis clases</a>
		<a sec:authorize="hasAnyAuthority('Administrador', 'Tutor', 'Alumno')" th:href="@{/flowdocs/}">FlowDocs</a>
	</nav>

	<div class="nav-actions">
		<a sec:authorize="isAnonymous()" class="btn-pill" th:href="@{/registro}">Registrarse</a>
		<a sec:authorize="isAnonymous()" class="btn-ghost" th:href="@{/login}">Iniciar sesión</a>
		<a sec:authorize="isAuthenticated()" class="btn-pill" th:href="@{/logout}">Cerrar Sesión</a>
	</div>
</header>