<header class="nav-pill" th:fragment="navbar">
	<div class="brand">
		<a th:href="@{/}" style="text-decoration:none; color:inherit;">AulaX</a>
	</div>


	<nav class="nav-links">
		<a th:href="@{/tutorias/}">Tutorías</a>
		<a th:href="@{/tutorias/alumnos}">Alumnos</a>
		<a th:href="@{/tutorias/tutores}">Tutores</a>
		<a th:href="@{/flowdocs/}">FlowDocs</a>
	</nav>

	<div class="nav-actions">
		<a class="btn-pill" th:href="@{/registro}">Registrarse</a>
		<a class="btn-ghost" th:href="@{/login}">Iniciar sesión</a>
	</div>
</header>