<div th:replace="fragmentos/top :: top"></div>

<section class="hero" id="inicio">
	<h1>Tutorias</h1>
	<p>
		Tutorías es un espacio diseñado para conectar estudiantes con tutores especializados. Aquí podrás recibir apoyo
		académico personalizado, resolver dudas en tiempo real y reforzar tus conocimientos en diversas materias, todo
		dentro de una plataforma fácil de usar y orientada al aprendizaje colaborativo.
	</p>
	<br>
	<div class="col-12">
		<a class="btn btn-dark" th:href="@{/tutorias/form}">Crear nueva clase</a>
	</div>
	<br>

	<div th:if="${mensaje != null}" class="alert alert-success" role="alert" th:text="${mensaje}"></div>

	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col" th:each="clase : ${clases}">
			<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title" th:text="${clase.titulo}"></h5>
					<p class="card-text" th:utext="${#strings.abbreviate(clase.descripcion, 50)}">
					</p>

					<br>

					<!-- Botones o acciones -->
					<a sec:authorize="hasAnyAuthority('Administrador', 'Tutor', 'Alumno')" data-bs-toggle="modal"
						data-bs-target="#exampleModal" th:data-id="${clase.id}" title="Ver detalle de la tutoría"
						class="btn btn-outline-dark btn-sm">
						<i class="fa-solid fa-circle-info"></i>
					</a>

					<a sec:authorize="hasAnyAuthority('Administrador', 'Tutor')" title="Editar tutoria"
						th:href="@{/tutorias/editar/{id}(id=${clase.id})}" class="btn btn-outline-dark btn-sm">
						<i class="fa-solid fa-pen-to-square"></i>
					</a>

					<a sec:authorize="hasAnyAuthority('Administrador', 'Tutor')" title="Eliminar tutoria"
						href="javascript:void(0);" th:onclick="'confirmarEliminacion(' + ${clase.id} + ')'"
						class="btn btn-outline-dark btn-sm">
						<i class="fa-solid fa-trash"></i>
					</a>

				</div>

				<div class="card-footer">
					<small class="text-muted">
						Fecha de creación:
						<span th:text="${#dates.format(clase.fecha, 'dd/MM/yyyy')}"></span>
						<br>
						Creado por:
						<span th:text="${clase.usuario}"></span>
					</small>
				</div>

			</div>
		</div>
	</div>

</section>

<!-- Modal del detalle de la tutoria -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="modalTitulo">Detalle de la tutoría</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<div id="modalDescripcion"></div>

				<br>
				<div class="text-center">
					<button sec:authorize="hasAnyAuthority('Administrador', 'Alumno')" type="button"
						class="btn btn-outline-dark" id="btnInscribirme" th:attr="data-idalumno=${session.usuario.id}">
						¡Quiero inscribirme!
					</button>
					<button sec:authorize="hasAnyAuthority('Administrador', 'Tutor')" type="button"
						class="btn btn-outline-dark">
						Iniciar sesión ahora
					</button>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-dark" data-bs-dismiss="modal">
					Close
				</button>
			</div>

		</div>
	</div>
</div>



<div class="gradient-band"></div>
<script>
	$(function () {
		$('#exampleModal').on('show.bs.modal', function (event) {
			const idClase = $(event.relatedTarget).data('id');
			$('#btnInscribirme').attr('data-idclase', idClase);

			$.get('/aulax/tutorias/detalle/' + idClase, function (clase) {
				$('#modalTitulo').text(clase.titulo);
				$('#modalDescripcion').html(clase.descripcion);
			});
		});

		$(document).on('click', '#btnInscribirme', function () {
			const idClase = $(this).data('idclase');
			const idAlumno = $(this).data('idalumno');

			confirmarRegistro(idClase, idAlumno);
		});

	});



	function confirmarEliminacion(id) {
		Swal.fire({
			title: '¿Eliminar tutoría?',
			text: "Esta acción no se puede deshacer",
			icon: 'warning',
			iconColor: '#000',
			background: '#fff',
			showCancelButton: true,
			confirmButtonText: 'Sí, eliminar',
			cancelButtonText: 'Cancelar',

			buttonsStyling: false,
			customClass: {
				confirmButton: 'btn btn-dark mx-2',
				cancelButton: 'btn btn-light border mx-2'
			}

		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = '/aulax/tutorias/eliminar/' + id;
			}
		});
	}


	function confirmarRegistro(idClase, idAlumno) {
		Swal.fire({
			title: '¿Desea inscribirse a la tutoría?',
			text: "Será agregado al aula",
			icon: 'warning',
			iconColor: '#000',
			background: '#fff',
			showCancelButton: true,
			confirmButtonText: 'Sí, inscribirme',
			cancelButtonText: 'Cancelar',

			buttonsStyling: false,
			customClass: {
				confirmButton: 'btn btn-dark mx-2',
				cancelButton: 'btn btn-light border mx-2'
			}

		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = '/aulax/tutorias/registro/' + idClase + '/' + idAlumno;
			}
		});
	}





</script>
<div th:replace="fragmentos/bottom :: bottom"></div>