<div th:replace="fragmentos/top :: top"></div>

<section class="hero" id="inicio">
	<h1>Tutorias</h1>
	<p>
		Tutorías es un espacio diseñado para conectar estudiantes con tutores especializados. Aquí podrás recibir apoyo
		académico personalizado, resolver dudas en tiempo real y reforzar tus conocimientos en diversas materias, todo
		dentro de una plataforma fácil de usar y orientada al aprendizaje colaborativo.
	</p>
</section>

<div class="gradient-band"></div>
<div th:replace="fragmentos/bottom :: bottom"></div>